@import "clearfix/clearfix";
@import "circle/circle";

@import "placeholder/color";

@import "textarea/scrollbar";
@import "textarea/beautify";

@import "scrollbar/style";
.main-wrap{
  @include clearfix;
}
.item-block{
  float: left;
  margin: 0 20px 0 0;
  &:last-child{
    margin: 0;
  }
}
